# Godot 4+ specific ignores
.godot/
/android/
.DS_Store
kenney_ui-pack-space-expansion
*.tmp
/.idea/gmtk-2025.iml
/.idea/material_theme_project_new.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/.gitignore
